@charset "UTF-8";

body, html{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div{
    width: 200px;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

div:hover{
    border-color: red;
}

.cursoc1{
    background-color: lightgray;
}

.cursoc2{
    background-color: rgb(65, 63, 63);
    color: white;
}

.destaque{
    background-color: darkred !important;
    border-color: red;
    color: white !important;
}