@charset "UTF-8";

*{
    padding: 0px;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.carros{
    display: flex;
    width: 100%;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
}

.carro{
    border: 3px #008 solid;
    background-color: #8cf;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.carro button{
    padding: 5px;
    align-self: center;
    background-color: rgb(200, 228, 250);
    border: 2px solid #008;
    border-radius: 5px;
    cursor: pointer;
}

.campoForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}

.campoForm input{
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.campoForm button{
    background-color: #888;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}